<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookmanagerapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookManagerApp"
        tools:targetApi="31">

        <!-- MainActivity (Launcher Activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".ui.Login"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ui.ForgotPassword"
            android:exported="true" />


        <!-- Sign Up Activity -->
        <activity
            android:name=".ui.SignUp"
            android:exported="true" />

        <!-- Home Activity -->
        <activity
            android:name=".ui.Home"
            android:exported="true" />

        <!-- Welcome Activity -->
        <activity
            android:name=".ui.Welcome"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AddBook"
            android:exported="true" />

    </application>
</manifest>
